:root {
    --black: #202020;
    --white: #ffffff;
    --red: red;
    --yellow: yellow;
    --green: green;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--black);
    color: var(--black);
}

main {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: space-around;
    gap: 25px;
    padding: 25px 50px;
    width: 70vw;
    background-color:bisque;
    border-radius: 25px;
}

main div {
    display: flex;
    text-align: center;
}

button {
    background-color: var(--white);
    padding: 5px;
}

input {
    outline: none;
    appearance: none;
    padding: 10px;
}

button, input {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    border: 3px solid var(--black);
    border-radius: 10px;
    opacity: 0.85;
}

button:hover, input:hover, input:focus {
    opacity: 1;
}

.heading {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

#title {
    font-style: italic;
    margin: 0 0 0 20px;
}

.heading input {
    width: 180px;
    justify-self: right;
    margin-right: 10px;
}

#tasks-cont {
    flex-flow: column;
    gap: 20px;
}

#tasks-cont button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.task {
    gap: 20px;
    align-items: center;
    width: 100%;
}

.text-input {
    flex-grow: 1;
    text-align: center;
}

.btn-cont {
    gap: 10px;
    padding-left: 10px;
}

.controls, .progress {
    transition: 300ms;
}

.controls:hover, .progress:hover {
    transform: scale(1.08);
}

.line {
    height: 3px;
    width: 100%;
    margin-top: 25px;
    background-color: var(--black);
}

#reset {
    width: 160px;
    height: 50px;
    margin: 0 10px 0 16px;
}

h1 {
    font-size: 40px;
}