:root {
    --black: #202020;
    --white: #ffffff;
    --red: red;
    --yellow: yellow;
    --green: green;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--black);
    color: var(--black);
}

main {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: space-around;
    gap: 25px;
    padding: 25px 50px;
    width: 70vw;
    background-color:bisque;
    border-radius: 25px;
}

main div {
    display: flex;
    text-align: center;
}

button {
    background-color: var(--white);
    padding: 5px;
}

input {
    outline: none;
    appearance: none;
    padding: 10px;
}

button, input {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    border: 3px solid var(--black);
    border-radius: 10px;
    opacity: 0.85;
}

button:hover, input:hover, input:focus {
    opacity: 1;
}

.heading {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

#title {
    font-style: italic;
    margin: 0 0 0 20px;
}

.heading input {
    width: 185px;
    justify-self: right;
}

#tasks-cont {
    flex-flow: column;
    gap: 20px;
}

#tasks-cont button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.task {
    gap: 20px;
    align-items: center;
    width: 100%;
}

.text-input {
    flex-grow: 1;
    text-align: center;
}

.btn-cont {
    gap: 10px;
    margin-left: 10px;
}

.controls-cont {
    gap: 18px;
    margin-left: -10px;
}

.controls, .progress {
    transition: 300ms;
}

.controls:hover, .progress:hover {
    transform: scale(1.08);
}

.move-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.move-cont img {
    width: 24px;
    height: 12px;
}

.line {
    height: 3px;
    width: 100%;
    margin: 10px 0;
    background-color: var(--black);
}

#task-input {
    gap: 30px
}

#reset {
    width: 150px;
    height: 50px;
}

h1 {
    font-size: 40px;
}

@media only screen and (min-width: 1500px) {
    main {
        width: 1050px;
    }
}

@media only screen and (max-width: 750px) {
    main {
        width: 525px;
        padding: 25px;
    }
}

@media only screen and (max-width: 600px) {
    main {
        width: 320px;
        padding: 15px;
        gap: 10px;
    }
    .heading {
        margin: 10px 0;
        grid-template-columns: 55% 45%;
    }
    #title {
        margin: 0;
    }
    #date {
        width: 120px;
        padding: 5px;
        margin-right: 10px;
        font-size: 1.1rem;
    }
    .btn-cont, #reset, .move-cont {
        display: none;
    }
    .task {
        gap: 15px;
    }
    #task-input {
        gap: 14px;
    }
    .text-input {
        padding: 5px;
    }
    .controls {
        transform: scale(0.7);
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 18px;
    }
    input {
        font-size: 1.2rem;
    }
}